  <%- include("../views/parts/header.ejs") %>
  <main>

    <div class="menu-container">

      <div class="step-indicator shadow-drop-2-center">
        <span class="completed-step">
        
        </span>
      </div>

      <div class="step-indicator">
        <span class="completed-step">
          
        </span>
      </div>

      <div class="step-indicator">
        <span>
          
        </span>
      </div>

      <div class="step-indicator">
        <span>
          
        </span>
      </div>

      <div class="bar-steps">
        <hr class="completed-step"/>
        <hr class="" />
        <hr />
        <hr />
        <hr />
      </div>
    </div>

    <div class="containerExpanse">
      <span>
        $      
      </span>
    </div>

  </main>
</body>
<script type="text/javascript" src="/scripts/toggle.js"></script>
<script src="https://kit.fontawesome.com/975d23274d.js" crossorigin="anonymous"></script>
</html>