  <%- include("../views/parts/header.ejs") %>
  <main>

    <%- include("../views/parts/menu.ejs") %>

    <div class="form-container">
      <form method="post" action="#">
        <div class="form-group">
          <h2 class="form-title">Dados básicos do Declarante</h2>
          <input type="text" />
          <input type="text" />
          <input type="text" />
          <input type="text" />

        </div>

        <div class="form-group">
          <h2 class="form-title">Dados do vendedor</h2>
          <input type="text" />
          <input type="text" />
        </div>

        <div class="form-group">

          <input type="button" value="PRÓXIMO"/>
        </div>


      </form>
    </div>

  </main>
  <div class="containerExpanse">
    <span>
      $      
    </span>
  </div>
</body>
<script type="text/javascript" src="/scripts/toggle.js"></script>
<script src="https://kit.fontawesome.com/975d23274d.js" crossorigin="anonymous"></script>
</html>