  <%- include("../views/parts/header.ejs") %>
  <main>

    <div class="menu-container">
      <hr />
      <div class="step-indicator shadow-drop-2-center">
        <span>
        
        </span>
      </div>
      <div class="step-indicator">
        <span>
          
        </span>
      </div>
      <div class="step-indicator">
        <span>
          
        </span>
      </div>
      <div class="step-indicator">
        <span>
          
        </span>
      </div>
      <div class="step-indicator">
        <span>
          
        </span>
      </div>


    </div>

  </main>
</body>
<script type="text/javascript" src="/scripts/welcome.js"></script>
<script type="text/javascript" src="/scripts/toggle.js"></script>
<script src="https://kit.fontawesome.com/975d23274d.js" crossorigin="anonymous"></script>
</html>