<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/login.css">
  <link rel="stylesheet" href="/styles/toggleStyles.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/logo.jpg">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  <title>FuneralPass</title>
</head>
<body>
  <header class="toggleTheme animate__animated animate__bounceInRight" style="padding-right: 20px;">
    <%- include("../views/parts/toggleTheme.ejs") %>
  </header>
  <main>
    <div class="card-profile">
      <img src="/assets/Logos/logoLight.png" alt="Perfil" class="profile animate__animated animate__bounceInUp">

      <form class="accesForm animate__animated animate__bounceInLeft" method="POST" action="/new-account" name="myForm">
        <input type="text" name='name' placeholder="Nome"  />
        <input type="text" name='username' placeholder="Usuário"  />

        <input type="password" name='password' placeholder="Senha" />
        <!-- <input type="password" name='confirm_password' placeholder="Confirmar senha" /> -->

        <input type="submit" value="Entrar" style='cursor: pointer;'>
      </form>
    </div>
  </main>
</body>
<script src="/scripts/toggle.js"></script>
<script src="https://kit.fontawesome.com/975d23274d.js" crossorigin="anonymous"></script>
</html>