<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/menuMobile.css">
  <link rel="stylesheet" href="/styles/menu.css">
  <link rel="stylesheet" href="/styles/formMobile.css">
  <link rel="stylesheet" href="/styles/form.css">
  <link rel="stylesheet" href="/styles/toggleStyles.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/logo.jpg">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  <title>FuneralPass</title>
</head>
<body>
  <header>    
    <div class="containerHeader">
      <div class="logoContainer">
        <img src="/assets/logo.png" alt="FuneralPass" />
      </div>

      <div class="containerGreeting">
        <button type="button" value="Relatório">Relatório</button>
        <span id="messageGreets">Olá, <br/>
        Desenvolvedor</span>

        <button type="button" value="Sair">Sair</button>
      </div>

      <div class="containerExport
      active 
      animate__animated
      animate__pulse
      animate__infinite">
        <i class="fas fa-file-download"></i>
      </div>


    <div class="toggleTheme">
      <%- include("toggleTheme.ejs") %>
    </div>

    </div>

  </header>