<div class="menu-container">

    <div class="step-indicator" onclick="firstStep()">
      <span class="">
      
      </span>
    </div>

    <div class="step-indicator" onclick="nextSeccondStep()">
      <span class="">
        
      </span>
    </div>

    <div class="step-indicator"  onclick="nextThirdStep()">
      <span>
        
      </span>
    </div>

    <div class="step-indicator"  onclick="nextFourthStep()">
      <span>
        
      </span>
    </div>

    <div class="bar-steps">
      <hr />
      <hr />
      <hr />
      <hr />
      <hr />
    </div>
  </div>