<div class="menu-container">

    <div class="step-indicator shadow-drop-2-center">
      <span class="">
      
      </span>
    </div>

    <div class="step-indicator ">
      <span class="">
        
      </span>
    </div>

    <div class="step-indicator ">
      <span>
        
      </span>
    </div>

    <div class="step-indicator ">
      <span>
        
      </span>
    </div>

    <div class="bar-steps">
      <hr class="completed-step"/>
      <hr class="" />
      <hr />
      <hr />
      <hr />
    </div>
  </div>