<div class='table-component'>
    <!-- <div class='resume-button' style='margin-top: 6vh;text-align: center'>
        
    </div> -->
    <h3 style='text-align: center; margin-left: 12px'>
        Resumo da Venda
    </h3>

    <div class='wrapper-table'>
        <div class='table'>
            <div class='line-table'>
                <p>
                    Valor da Venda
                </p>
                <p id='value-of-sell'>
                    
                </p>

            </div>
            
            <div class='line-table'>
                <p>
                    Impostos(8%)
                </p>
                <p id='taxes'>
                    
                </p>

            </div>
            
            <div class='line-table'>
                <p>
                    Taxas Diversas
                </p>
                <p id='taxes-adverses'>
                    
                </p>

            </div>
            
            <div class='line-table'>
                <p>
                    Custo dos Serviços
                </p>
                <p id='custe-of-services'>
                    
                </p>

            </div>
            
            <div class='line-table'>
                <p>
                    Lucro Líquido
                </p>
                <p id='profit'>
                    
                </p>

            </div>

        </div>
        <div class='result'>

        <!-- <input type="button" value="Salvar" /> -->
        </div>

    </div>

</div>
