@media (min-width: 640px) {
  form {
    width: 70%;
    height: 100%;
    padding: 4vw;
    padding-top: 1rem;
    border-radius: 50px;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.05);
  }
  .form-title {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  .form-container input[type="button"] {
    width: 25%;
    margin: 4% 65%;
  }
}
