@media (max-width: 600px) {
  .wrapper-greetings .greeting-button {
    visibility: hidden;
    display: none;
    cursor: pointer;
  }
  .wrapper-greetings {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 1rem;
    overflow: hidden;
    cursor: pointer;
  }

  .wrapper-greetings .greeting-message {
    background-color: var(--light-gray);
    color: var(--medium-gray);
    width: 60vw;
    height: 40px;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 8px;
    border-radius: 58px;
    right: -20px;
    z-index: 10;
    margin-top: 20px;
    overflow: hidden;
  }
  .wrapper-greetings .greeting-message p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (min-width: 640px) {
  .wrapper-greetings {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 1rem;
    width: 30vw;
    overflow: hidden;
  }

  .wrapper-greetings .greeting-button {
    background-color: var(--light-blue);
    cursor: pointer;
    width: 8vw;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 14px;
    transition: all 0.3s;
  }
  .wrapper-greetings .greeting-button:hover {
    filter: brightness(1.06);
  }

  .wrapper-greetings .greeting-button:nth-of-type(1) {
    border-radius: 58px 0 0 58px;
    transform: translateX(20px);
    cursor: pointer;
  }

  .wrapper-greetings .greeting-button:nth-of-type(3) {
    border-radius: 0 58px 58px 0;
    display: flex;
    justify-content: flex-end;
    transform: translateX(-20px);
  }

  .wrapper-greetings .greeting-button a {
    color: #fff;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 0.7rem;
    cursor: pointer;
  }
  .wrapper-greetings .greeting-button a i {
    padding-left: 6px;
  }
  .wrapper-greetings .greeting-message {
    background-color: var(--light-gray);
    color: var(--medium-gray);
    width: 10vw;
    height: 35px;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 8px;
    border-radius: 58px;
    margin-left: 20px;
    z-index: 10;
    overflow: hidden;
  }
  .wrapper-greetings .greeting-message p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
