* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --white: #fafafa;
  --light-gray: #eceae9;
  --medium-gray: #666;
  --light-medium-gray: #b2b2b2;
  --green: #b7d464;
  --light-blue: #6ac9f3;
  --dark: #0b1528;
}
.logoHeader {
  width: 6rem;
  margin: 2%;
}
header {
  width: 100vw;
  height: 16vh;
  position: absolute;
  top: 0;
}
.containerGreeting {
  display: none;
  visibility: hidden;
}
.fa-file-download {
  font-size: 140%;
  color: var(--white);
  cursor: pointer;
}
.containerExport {
  position: absolute;
  right: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14vw;
  height: 14vw;
  box-shadow: 0 15px 20px 2px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
}
div.animate__bounceIn {
  animation-timing-function: linear;
}
.active {
  background-color: var(--light-blue);
}

@media (min-width: 640px) {
  .logoHeader {
    width: 5rem;
    margin-left: 5%;
  }
}
