:root {
  --white: #fafafa;
  --light-gray: #eee;
  --medium-gray: #666;
  --green: #b7d464;
  --dark: #0b1528;
}
body {
  background-color: var(white);
}
body.dark {
  background-color: var(--dark);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-x: hidden;
}
.toggleTheme {
  position: absolute;
  right: 2vw;
  top: 2vh;
}
