@media (min-width: 640px) {
  .containerExpanse,
  .bar-steps,
  .containerExport {
    display: none;
  }
  .nav {
    position: absolute;
    left: 16vw;
    top: 0.1vh;
  }
  .menu-container {
    width: 50rem;
    height: 4%;
    background-color: transparent;
    margin-top: 18vh;
    border-radius: 40px;
    justify-content: flex-start;
    left: 0;
  }
  .step-indicator {
    min-height: 2.2rem;
    padding: 0 3%;
    background-color: var(--light-gray);

    border-radius: 20px 80px 80px 20px;
    box-shadow: none;
    cursor: pointer;
    flex-wrap: nowrap;
  }
  .step-indicator span {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    font-family: sans-serif;
    font-size: 12px;
    color: var(--medium-gray);
  }
  .menu-container div.shadow-drop-2-center {
    animation: none;
    background-color: var(--light-blue);
    margin-left: -4%;
  }

  .shadow-drop-2-center span {
    color: #fff;
  }

  .menu-container .step-indicator:nth-of-type(1) {
    z-index: 5;
    border-radius: 80px 20px 20px 80px;
  }
  .menu-container .step-indicator:nth-of-type(2) {
    border-radius: 80px;
    margin-left: -10%;
    z-index: 6;
  }
  .menu-container div:nth-of-type(3) {
    z-index: 3;
    margin-left: -2%;
  }
  .menu-container .step-indicator:nth-of-type(4) {
    z-index: 2;
    margin-left: -2%;
  }

  .step-indicator:nth-of-type(1) span::after {
    content: "INÍCIO";
    margin-left: -100%;
  }
  .step-indicator:nth-of-type(2) span::after {
    content: "SERVIÇOS";
  }

  .step-indicator:nth-of-type(3) span::after {
    content: "DADOS DO CONTRATANTE";
    font-size: 75%;
  }

  .step-indicator:nth-of-type(4) span::after {
    content: "DADOS DO ÓBITO";
  }
}
